/* ------------------------- Style -------------------------- */
.filter_check {

}
.filter_field {

}
.filter_btn {

}
.filter_list {
	width: 225px;
	height: 100px;
	overflow: auto;
	padding-left: 20px;
	border: 1px solid gray;
}
.filter_list-pos {
	list-style-type: none;
}