/* ------------------------- Style -------------------------- */
.ishop_table-cell {
	border: 1px solid gray;
	border-radius: 15px;
	padding: 15px;
	background-color: white;
	vertical-align: top;
	max-width: 400px;
	text-align: center;
}
.ishop_pos-title {
	height: 45px;
	margin: 10px 0;
}
.ishop_pos-photo {
	width: 200px;
	height: 130px;
}
.ishop_pos-sum {
	font-weight: bold;
	color: red;
	font-size: 20px;
}
.ishop_pos-subtitle {
	text-decoration: underline;
	font-size: 18px;
}
.ishop_pos-text {
	text-align: justify;
	font-style: italic;
}
.ishop_pos-lot {
	color: blue;
}