.filter__control {
    margin-top: 20px;
}
.filter__control-check {
    margin-right: 5px;
}
.filter__control-text {
}
.filter__control-btn {
    margin-left: 5px;
}
.filter__list-box {
    width: 262px;
	height: 100px;
    background-color: white;
	overflow: auto;
	padding-left: 20px;
	border: 1px solid gray;
}
.filter__list-pos {
    list-style-type: none;
}