.product-r-box {
    width: 330px;
    position: relative;
    box-sizing: border-box;
    margin-left: 10px;
}
.product-r-box__container {
    width: 100%;
    max-width: 330px;
    height: 100%;
    margin-top: 82px;
    padding: 15px;
    position: fixed;
    background-color: white;
    border: 1px solid gray;
    border-radius: 15px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items:start;
    justify-content: flex-start;
}