.title-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 0 15px 0;
    text-align: center;
}
.title-box__text {
    padding: 15px;
    background-color: white;
    border-radius: 20px;
    color: red;
    margin-bottom: 0;
}
.title-box__address {
    background-color: #fff;
    padding: 10px;
    border-radius: 0 0 20px 20px;
}
.product-list {
    display: grid;
    grid-template-columns: auto auto;
}
.product-list__title {
    text-align: center;
    margin: 10px 0;
}
.product-list__btn-add-pos {
    display: flex;
    justify-content: center;
}
.product-list__box {
    margin: 0;
    padding: 0;
	display: flex;
	flex-direction: row;
    flex-wrap: wrap;
	align-items: stretch;
	justify-content: center;
}